[Desktop Entry]
Type=Application
Version=1.0
Name=Notepads
Comment=Text editor
Exec=Notepads
Icon=notepads
Terminal=false
Categories=Utility;TextEditor;
StartupNotify=true
MimeType=text/plain;
